<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="global.sesoc.ConsolGame.dto.ConsolGame" alias="ConsolGame"/>
		<typeAlias type="global.sesoc.ConsolGame.dto.ConsolUser" alias="ConsolUser"/>
		<typeAlias type="global.sesoc.ConsolGame.dto.LendConsol" alias="LendConsol"/>	
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/MemberMapper.xml" />
	</mappers>
</configuration>